

   

.a1{
    height: 200px;
    width: auto;
    margin:50px;
    background: pink;
    border:5px solid white ;
    
}
.b2{
     height: 200px;
    width: auto;
    margin: 50px;
    background: red;
    border: 5px solid white ;
}
.c3{
       height: 200px;
    width: auto;
    margin: 50px;
    background-color: aqua;
    border: 5px solid white ;
}
.d3{
        height: 200px;
    width: auto;
    margin: 50px;
    background-color:green;
    border: 5px solid white ;
    
}
    


