.aClass {
text-decoration: underline;
    color: blue;
  cursor: pointer;  
    
}


#aID {
   font-size:15px;
    font-style: italic;
    
}

body {
    background-color: #111111;
    
    
}
h1{
   color: #E2E80f;
    font-size: 50px;
    text-align: center;
 
}
p {
    color: #eeeeee;
    font-size: 20px;
    display: inline;
    display: block;
    
}