.aclass {
    color: darkgreen;
    font-family: Georgia ;
    text-align: center;
}
.bclass {
    font-family: Georgia ;
    
    text-align: center;
}
#aID {
    line-height: 25px ;
    font-size: 20px;


}
p {
 
    font-size:20px;
   
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img {
    float:left;
    width: 200px;
    padding:5px ;
}
body {
    margin: 20px;
}