.a {
 margin-left:3%;
   margin-top: 25%;
}
.b { 
  margin-top:33%;
}
.c {
  margin-top: 30%;

}

.d{
  margin-top:-20%;
   margin-left: 65%;
}
body {
background-image: url(aaa.jpg);
   background-size: cover;
}
@media (min-width: 575px) {
 body {
   width: 550px;
   margin-left: auto;
   margin-right: auto;
 }
}

p{
 color:azure;
   
    padding-top: 50px;
    padding-left: 50px;
}
